{% extends 'base.html' %}

{% block content %}
    <h1>
        <a href="/songs_by_artists">Songs by each artist</a>
    </h1>
    <h1>
        <a href="/most_played_concert">Which concert has the most performers?</a>
    </h1>
    <h1>
        <a href="/most_played_song">What is the most played song?</a>
    </h1>
    <h1>
        <a href="/most_venues">What country has the most venues? Who has played in these venues?</a>
    </h1>
    <h1>
        <a href="/longest_songs">What are the longest songs played at each concert?</a>
    </h1>
    <h1>
        <a href="/longest_song_by_artist">What is the longest song by each artist?</a>
    </h1>
    <h1>
        <a href="/most_performances">Which artist has performed the most songs at a concert?</a>
    </h1>
    <h1>
        <a href="/most_performing_artist_by_country">For each country, who is the most performing artist?</a>
    </h1>

{% endblock %}


